In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [3]:
## Load the trained model
model =load_model('model.h5')

## Load the encoder and scalar
with open('label_encoder.pkl','rb') as file:
    label_encoder=pickle.load(file)

with open('ohe.pkl','rb') as file:
    ohe=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [5]:
# Example Input data

input_data = {
    'CreditScore': 500,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [16]:
geo_encoded = ohe.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

d:\Udemy Gen AI\ANN\annenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [17]:
input_df =pd.DataFrame([input_data])
input_df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          500    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [18]:
input_df = pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [22]:
input_df = input_df.drop(columns=['Geography'])

In [24]:
## Labeling Gender Column
input_df['Gender'] = label_encoder.transform(input_df['Gender'])

In [ ]:
## Applying Standard Scaler on Df
input_df = scaler.transform(input_df)

In [26]:
y_pred = model.predict(input_df)

1/1 [==============================] - 1s 567ms/step

In [27]:
y_pred

array([[0.01629496]], dtype=float32)

In [28]:
prediction_proba = y_pred[0][0]
prediction_proba

0.016294956

In [29]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.